.bg-homepage {
    background-image: url('/stars-bg.webp');
    background-size: cover;
    background-position: center;
}

.bg-starships, .bg-details {
    background-image: url('/bg.webp');
    background-size: cover;
    background-position: center;
}

.bg-default {
    background-color: #000;    
}